<div alerts></div>

<div data-ng-controller="ChartListCtrl">

  <div class="row" data-ng-controller="MapCtrl" data-ng-show="show">
    <div class="col-lg-12">
      <rd-widget>
        <rd-widget-header icon="fa-globe" title="Map">
          <a href="#">Link</a>
        </rd-widget-header>
        <rd-widget-body classes="xlarge no-padding">
          <div>
            <ui-gmap-google-map
                center="mapConfig.center"
                zoom="mapConfig.zoom"
                draggable="mapConfig.draggable"
                options="mapConfig.options"
                events="mapConfig.events"
                control="mapConfig.control">

              <ui-gmap-markers
                ng-if="markersConfig.show"
                models="markers"
                idkey="'key'"
                doCluster="markersConfig.doCluster"
                clusterOptions="markersConfig.clusterOptions"
                icon="'icon'"
                coords="'location'"
                options="'options'"
                events="markerEvents">
            </ui-gmap-markers>

              <ui-gmap-layer
                type="KmlLayer"
                options="kml.options"
                show="true">
              </ui-gmap-layer>

            </ui-gmap-google-map>
          </div>
        </rd-widget-body>
        <rd-widget-footer>
          Show markers: <input type="checkbox" ng-model="markersConfig.show">
        </rd-widget-footer>
      </rd-widget>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12" data-ng-repeat="chartParams in chartParamsList">
      <rd-widget>
        <rd-widget-header icon="fa-bar-chart-o" title="Charts">
          <a href="#">Link</a>
        </rd-widget-header>
        <rd-widget-body classes="large no-padding">
          <timeline-chart params="chartParams"></timeline-chart>
        </rd-widget-body>
        <rd-widget-footer>
          Footer
        </rd-widget-footer>
      </rd-widget>
    </div>
  </div>
</div>