<div class="row">
  <div class="col-lg-12" data-ng-controller="MapCtrl" data-ng-show="show">
    <rd-widget>
      <rd-widget-header icon="fa-globe" title="Maps">
        <a href="#">Link</a>
      </rd-widget-header>
      <rd-widget-body classes="xlarge no-padding">
          <div>
              <ui-gmap-google-map center="map.center"
                                  zoom="map.zoom"
                                  draggable="true"
                                  options="map.options"
                                  events="map.events"
                                  control="map.control"
                      >
                  
                  <ui-gmap-markers ng-if="map.showMarkers"
                                   doCluster="map.doCluster"
                                   clusterOptions="map.clusterOptions"
                                   icon="'icon'"
                                   models="markers"
                                   events="markerEvents"
                                   options="'options'"
                                   coords="'coords'"
                                   idkey="'key'"
                                   chunk="4"
                          ></ui-gmap-markers>
                  <ui-gmap-markers ng-if="map.showMarkers"
                                   doCluster="map.doCluster"
                                   models="markers2"
                                   events="markerEvents"
                                   options="'options'"
                                   coords="'coords'"
                                   idkey="'key'"
                                   chunk="4"
                          ></ui-gmap-markers>
              </ui-gmap-google-map>
          </div>
      </rd-widget-body>
      <rd-widget-footer>

          <button ng-click="addMarkers(100)">Add New Marker</button>
          <button ng-click="reset()">Reset</button><br>
          <button ng-click="doSomething()">doSomething</button><br>
          ShowMarkers: <input type="checkbox" ng-model="map.showMarkers">
          <p>Max number of results to show: 100<br/>Num of items in results: {{searchResults.results.length}}</p>
          <p>doCluster:{{map.doCluster}}</p>
          <p>actualZoom:{{map.actualZoom}}</p>
          <p>zoom:{{map.zoom}}</p>
          <p>showMarkers:{{map.showMarkers}}</p>
          
        <label>Lat:</label><input type="number" value="{{map.center.latitude}}">
        <label>Lon:</label><input type="number" value="{{map.center.longitude}}">
        <label>Zoom:</label><input type="number" value="{{map.zoom}}">
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>